@font-face {
    src: url("/fonts/lineto-circular-black.ttf");
    font-family: lineto-black;
}

@font-face {
    src: url("/fonts/lineto-circular-pro-book.ttf");
    font-family: lineto-pro-book;
}

@font-face {
    src: url("/fonts/lineto-circular-pro-medium.ttf");
    font-family: lineto-pro-medium;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
}

ul {
    list-style: none;
}


/* NAVIGATION BAR */

.cashflow-nav {
    display: flex;
    background-color: rgba(25, 20, 20, 0.65);
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 20px 0;
    position: fixed;
    z-index: 3;
    width: 100%;
}

.cashflow-nav ul {
    display: flex;
}

.cashflow-nav ul.nav-options {
    flex: 1;
    margin-left: 325px;
    font-family: lineto-pro-medium;
    width: 100px;
    font-size: 15.8px;
    letter-spacing: -0.5px;
    margin-top: 1px;
    font-weight: normal;
}

.cashflow-nav ul.nav-options li {
    margin-bottom: 1px;
    margin-left: 32.5px;
}

.white-text {
    color: #fff;
}

.grey-text {
    color: #dcdcdc;
}

img.wayeasi-logo {
    width: 100%;
}

.logo-link {
    margin-left: 270px;
    width: 7.596rem;
}

.line {
    border: 0.5px solid white;
    margin-top: 1.8px;
    height: 16px;
}

.cards {
    display: grid;
    z-index: 1;
}

.commands {
    background-color: #D9C4A9;
    height: 20rem;
}

/* Estilos para a caixa de comandos */
.box-commands {
    max-width: 500px;
    margin: 60px 0 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para os elementos internos */
label, select, input {
    display: block;
    margin-bottom: 10px;
}

.linha {
    display: inline-block;
    margin-right: 10px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

button {
    margin: 10px 0 20px 0;
    padding: 8px;
    cursor: pointer;
}