@font-face {
    src: url("/fonts/lineto-circular-black.ttf");
    font-family: lineto-black;
}

@font-face {
    src: url("/fonts/lineto-circular-pro-book.ttf");
    font-family: lineto-pro-book;
}

@font-face {
    src: url("/fonts/lineto-circular-pro-medium.ttf");
    font-family: lineto-pro-medium;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --fonte-main: 'Lato', sans-serif;
    --fonte-2: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
}

ul {
    list-style: none;
}


/* NAVIGATION BAR */

.cashflow-nav {
    display: flex;
    background-color: rgba(25, 20, 20, 0.65);
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 20px 0;
    position: fixed;
    z-index: 3;
    width: 100%;
}

.cashflow-nav ul {
    display: flex;
}

.cashflow-nav ul.nav-options {
    flex: 1;
    margin-left: 325px;
    font-family: var(--fonte-main);
    font-weight: bolder;
    width: 100px;
    font-size: 15.8px;
    margin-top: 1px;
    font-weight: normal;
}

.cashflow-nav ul.nav-options li {
    margin-bottom: 1px;
    margin-left: 32.5px;
}

.white-text {
    color: #fff;
}

.cashflow-nav a {
    display: flex;
}

img.wayeasi-logo {
    width: 100%;
}

.logo-link {
    margin-left: 270px;
    width: 7.596rem;
}

.line {
    border: 0.5px solid white;
    margin-top: 1.8px;
    height: 16px;
}

/* Sepração da página em cards */
.cards {
    display: grid;
    z-index: 1;
    font-family: var(--fonte-main);
    font-size: 14px;
}

.commands {
    background-color: #D9C4A9;
    height: 22rem;
    width: 100%;
    text-align: center;
}

/* Estilos para a caixa de comandos */
.box-filters {
    max-width: 600px;
    margin: 60px auto 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para os elementos internos */
.filter {
    display: inline-block;
    margin-top: 10px;
    text-align: center;
}

.dropdown-data {
    display: inline-block;
    margin: auto;
    text-align: center;
}

select, input {
    display: block;
    text-align: center;
    align-content: center;
    border-radius: 30px;
    height: 30px;
    width: 150px;
    position: relative;
    font-family: var(--fonte-main);
    border: none;
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.busca {
    display: inline-block;
    margin-top: 10px;
}

#busca {
    width: 450px;
}


.buttons {
    display: flex;
    justify-content: space-evenly;
}

button {
    margin: 10px 0 20px 0;
    padding: 8px;
    cursor: pointer;
}