/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Estilos Universais */
:root {
  --primary-font: 'Open Sans', sans-serif;
  --transition-duration1: 0.3s;
  --transition-duration2: 0.2s;
  --transition-effect1: all ease-in-out;
  --box-shadow1: 0 0 1em #00000013;
  --box-shadow2: 0 0 1em #00000023;
  --branco: #ffffff;
  --preto: #000000;
  --color1: #f0eeee;
  --color2: #f4f2f2;
  --color3: #B1C381;
  --color4: #3d3d3d;
  --color5: #006919;
  --color6: #740000;
  --color7: #9bb8cd;
  --color8: #f87c7c;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: var(--branco);
  text-decoration: none;
  transition: var(--transition-duration1);
}

a:hover {
  opacity: 0.7;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* Barra de Navegação Fixa */
.logo {
  font-size: 24px;
  letter-spacing: 4px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: var(--primary-font);
  background-color: #3d3d40bf;
  height: 8vh;
  backdrop-filter: blur(5px);
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list li {
  margin-left: 48px;
  font-weight: bold;
  font-size: 15px;
}

.line {
  border: 0.5px solid var(--branco);
  margin-top: 1.8px;
  height: 16px;
}

/* Componentes da Caixa de Filtros */
.box-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 700px;
  margin: 4.5rem auto 1rem auto;
  padding: 1rem 1rem;
  background-color: var(--branco);
  border-radius: 1rem;
  box-shadow: var(--box-shadow1);
}

.mesclar-3 {
  grid-column: span 3;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 13px;
}

.flex > select, .flex > input {
  width: 100%;
  font-family: var(--primary-font);
  font-size: 15px;
  margin-top: 5px;
}

/* Estilos dos Selects e Inputs */
.flex select, .flex input {
  background-color: var(--color2);
  border: none;
  color: var(--color4);
  padding: 0.7rem 1rem;
  border-radius: 5px;
  transition: var(--transition-effect1) var(--transition-duration1);
}

.flex select:hover, .flex select:focus,
.flex input:hover, .flex input:focus {
  box-shadow: var(--box-shadow1);
}

.flex select, input:focus {
  outline: none;
  background-color: var(--color1);
}

/* Botões para Lançamentos */
.botao {
  margin: 10px auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px #0000002a;
  cursor: pointer;
  transition-duration: var(--transition-duration1);
  overflow: hidden;
  position: relative;
}

.recebimentos {
  background-color: #0056e9;
}

.pagamentos {
  background-color: var(--color6);
}

.transferencias {
  background-color: var(--color5);
}

.svgIcon {
  width: 12px;
  transition-duration: var(--transition-duration1);
}

.svgIcon path {
  fill: var(--branco);
}

.botao:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: var(--transition-duration1);
  align-items: center;
}

.recebimentos:hover {
  background-color: var(--color7);
}

.pagamentos:hover {
  background-color: var(--color8);
}

.transferencias:hover {
  background-color: var(--color3);
}

.botao:hover .svgIcon {
  width: 50px;
  transition-duration: var(--transition-duration1);
  transform: translateY(60%);
}

.recebimentos::before,
.pagamentos::before,
.transferencias::before {
  position: absolute;
  top: -20px;
  color: var(--branco);
  transition-duration: var(--transition-duration1);
  font-size: 2px;
}

.botao:hover.recebimentos::before {
  content: "Recebimentos";
}

.botao:hover.pagamentos::before {
  content: "Pagamentos";
}

.botao:hover.transferencias::before {
  content: "Transferências";
}

.botao:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: var(--transition-duration1);
}

.botao:focus {
  outline: none;
}

/* Caixa de Pesquisa */
.pesquisa {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 15px;
}

.caixa-pesquisa {
  margin: 0;
  padding: 0.7rem 1rem;
  width: 100%;
  font-family: var(--primary-font);
  color: var(--color4);
  background-color: var(--color2);
  font-size: 15px;
  border: none;
  border-radius: 30px;
  transition: var(--transition-effect1) var(--transition-duration1);
}

.caixa-pesquisa:hover, .caixa-pesquisa:focus {
  box-shadow: var(--box-shadow1);
}

.caixa-pesquisa:focus {
  outline: none;
  background-color: var(--color1);
}

.caixa-pesquisa::-webkit-input-placeholder {
  font-weight: 400;
  color: var(--color4);
}

.caixa-pesquisa:focus + .botao-pesquisa {
  background-color: var(--color1);
}

.botao-pesquisa {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-right: 1rem;
  border: none;
  background-color: var(--color2);
}

.botao-pesquisa:hover {
  cursor: pointer;
}

.icon-pesquisa {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}


/* Tabela com Lançamentos */
.content {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--branco);
  font-weight: 300;
}

th {
  width: 200px;
  height: 50px;
}

.checkbox-col {
  width: 50px;
}

/* Checkbox */
.checkbox-container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-left: 15px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.custom-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--color2);
  border-radius: 4px;
  transition: background-color var(--transition-duration1);
  box-shadow: 0 2px 5px #00000033;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid var(--branco);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.custom-checkbox:checked ~ .checkmark {
  background-color: var(--color7);
  box-shadow: 0 3px 7px #2196f34d;
}

.custom-checkbox:checked ~ .checkmark:after {
  display: block;
}

@keyframes checkAnim {
  0% {
    height: 0;
  }

  100% {
    height: 10px;
  }
}

.custom-checkbox:checked ~ .checkmark:after {
  animation: checkAnim 0.2s forwards;
}

.checkbox-container {
  transform: scale(1);
}

/* Tabela */
.custom-table {
  min-width: 900px;
  border-collapse: collapse;
  border-spacing: 0;
}

.custom-table thead tr, .custom-table thead th {
  border-top: none;
  border-bottom: none !important;
}

.custom-table tbody th, .custom-table tbody td {
  color: var(--color4);
  padding-bottom: 20px;
  padding-top: 20px;
  font-weight: 300;
  border: none;
}

.custom-table tbody th small, .custom-table tbody td small {
  display: block;
  color: var(--color4);
  font-weight: 300;
}

.custom-table tbody tr {
  transition: .3s all ease;
}

.custom-table tbody tr:hover, .custom-table tbody tr:focus {
  background: var(--color1);
}

.custom-table .td-box-wrap {
  padding: 0;
}

.custom-table .box {
  background: var(--branco);
  border-radius: 4px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.custom-table .box td, 
.custom-table .box th {
  border: none !important;
}

/* Modais */
.modal-recebimentos,
.modal-pagamentos,
.modal-transferencias {
  width: 80%;
  margin: auto auto;
  padding: 2rem;
  background-color: var(--branco);
  border: none;
  border-radius: 1rem;
  box-shadow: var(--box-shadow1);
  transition: var(--transition-duration1);
  font-family: 'Open Sans', sans-serif;
}

.modal-transferencias {
  width: 40%;
}

.mesclar-2 {
  grid-column: span 2;
}

.modal-recebimentos::backdrop,
.modal-pagamentos::backdrop,
.modal-transferencias::backdrop {
  overflow-y: scroll !important;
  max-height: 100% !important;
}

.modal-titulo {
  margin-bottom: 1rem;
}

dialog > form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.modal-transferencias > form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

dialog > form  > section {
  display: flex;
  flex-direction: column;
  margin: 5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 13px;
}

.modal-flex > select,
.modal-flex > input {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin-top: 5px;
}

/* Estilo das Caixas de Seleções e Datas */
.modal-flex select,
.modal-flex input {
background-color: var(--color2);
  border: none;
  color: var(--color4);
  padding: 0.7rem 1rem;
  border-radius: 5px;
  transition: var(--transition-effect1) .5s;
}

.modal-flex select:hover,
.modal-flex select:focus,
.modal-flex input:hover,
.modal-flex input:focus {
  box-shadow: var(--box-shadow1);
}

.modal-flex select,
input:focus {
  outline: none;
  background-color: var(--color1);
}

/* Botões dos Modais */
.modal-botoes {
  display: flex;
  gap: 1.5rem;
  justify-content: flex-end;
  margin: 1rem 0 0 0;
}

.modal-fechar-recebimentos,
.modal-fechar-pagamentos,
.modal-fechar-transferencias,
.modal-salvar {
  border: none;
  color: var(--branco);
  font-weight: 700;
  padding: 0.7rem 1rem;
  border-radius: 5px;
  transition: var(--transition-effect1) var(--transition-duration2);
}

.modal-fechar-recebimentos:focus,
.modal-fechar-pagamentos:focus,
.modal-fechar-transferencias:focus,
.modal-salvar:focus {
  outline: none;
}

.modal-fechar-recebimentos:hover,
.modal-fechar-pagamentos:hover,
.modal-fechar-transferencias:hover {
  background-color: var(--color8);
  box-shadow: var(--box-shadow2);
}

.modal-fechar-recebimentos,
.modal-fechar-pagamentos,
.modal-fechar-transferencias {
  background-color: var(--color6);
}

.modal-salvar {
  background-color: var(--color5);
}

.modal-salvar:hover {
  background-color: var(--color3);
  box-shadow: var(--box-shadow2);
}

