/* Específicos Realizado */

/* Compartilhado */
.nav-realizado a {
  color: var(--color7);
}

/* Componentes da Caixa de Filtros */

/* Compartilhado */
.box-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 700px;
  height: 268px;
  margin: 4.5rem auto 1rem auto;
  padding: 1rem 1rem;
  background-color: var(--branco);
  border-radius: 1rem;
  box-shadow: var(--box-shadow1);
}

/* Tabela Bancos */

/* Compartilhado */
.box-grid-bancos {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 700px;
  height: 268px;
  margin: 4.5rem auto 1rem auto;
  padding: 1.625rem 1.625rem;
  background-color: var(--branco);
  border-radius: 1rem;
  box-shadow: var(--box-shadow1);
}

/* Compartilhado */
.conteudo-tabela-bancos {
  max-height: 216px; /* Ajuste conforme necessário */
  overflow: auto;
}