/* Específicos Fluxo de Caixa */

/* Compartilhado */
.nav-fluxo-de-caixa a {
  color: var(--color7);
}

/* Componentes da Caixa de Filtros */

/* Compartilhado */
.box-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 700px;
  height: 338px;
  margin: 4.5rem auto 1rem auto;
  padding: 1rem 1rem;
  background-color: var(--branco);
  border-radius: 1rem;
  box-shadow: var(--box-shadow1);
}

/* Botões para Lançamentos */
.botao {
  margin: 10px auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px #0000002a;
  cursor: pointer;
  transition-duration: var(--transition-duration1);
  overflow: hidden;
  position: relative;
}

.recebimentos {
  background-color: #0056e9;
}

.pagamentos {
  background-color: var(--color6);
}

.transferencias {
  background-color: var(--color5);
}

.svgIcon {
  width: 12px;
  transition-duration: var(--transition-duration1);
}

.svgIcon path {
  fill: var(--branco);
}

.botao:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: var(--transition-duration1);
  align-items: center;
}

.recebimentos:hover {
  background-color: var(--color7);
}

.pagamentos:hover {
  background-color: var(--color8);
}

.transferencias:hover {
  background-color: var(--color3);
}

.botao:hover .svgIcon {
  width: 50px;
  transition-duration: var(--transition-duration1);
  transform: translateY(60%);
}

.recebimentos::before,
.pagamentos::before,
.transferencias::before {
  position: absolute;
  top: -20px;
  color: var(--branco);
  transition-duration: var(--transition-duration1);
  font-size: 2px;
}

.botao:hover.recebimentos::before {
  content: "Recebimentos";
}

.botao:hover.pagamentos::before {
  content: "Pagamentos";
}

.botao:hover.transferencias::before {
  content: "Transferências";
}

.botao:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: var(--transition-duration1);
}

.botao:focus {
  outline: none;
}

/* Tabela Bancos */

/* Compartilhado */
.box-grid-bancos {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 700px;
  height: 338px;
  margin: 4.5rem auto 1rem auto;
  padding: 1.625rem 1.625rem;
  background-color: var(--branco);
  border-radius: 1rem;
  box-shadow: var(--box-shadow1);
}

/* Compartilhado */
.conteudo-tabela-bancos {
  max-height: 286px; /* Ajuste conforme necessário */
  overflow: auto;
}

/* Modais */
.modal-recebimentos,
.modal-pagamentos,
.modal-transferencias {
  width: 80%;
  margin: auto auto;
  padding: 2rem;
  background-color: var(--branco);
  border: none;
  border-radius: 1rem;
  box-shadow: var(--box-shadow1);
  transition: var(--transition-duration1);
  font-family: 'Open Sans', sans-serif;
}

.modal-transferencias {
  width: 40%;
}

.mesclar-2 {
  grid-column: span 2;
}

.modal-recebimentos::backdrop,
.modal-pagamentos::backdrop,
.modal-transferencias::backdrop {
  overflow-y: scroll !important;
  max-height: 100% !important;
}

.modal-titulo {
  margin-bottom: 1rem;
}

dialog > form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.modal-transferencias > form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

dialog > form  > section {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 13px;
}

.modal-flex > select,
.modal-flex > input {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin-top: 5px;
}

/* Estilo das Caixas de Seleções e Datas */
.modal-flex select,
.modal-flex input {
background-color: var(--color2);
  border: none;
  color: var(--color4);
  padding: 0.7rem 1rem;
  border-radius: 5px;
  transition: var(--transition-effect1) .5s;
}

.modal-flex select:hover,
.modal-flex select:focus,
.modal-flex input:hover,
.modal-flex input:focus {
  box-shadow: var(--box-shadow1);
}

.modal-flex select,
input:focus {
  outline: none;
  background-color: var(--color1);
}

/* Botões dos Modais */
.modal-botoes {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0px 5px;
  gap: 1.5rem;
}

.modal-fechar-recebimentos,
.modal-fechar-pagamentos,
.modal-fechar-transferencias,
.modal-salvar {
  border: none;
  height: 45px;
  color: var(--branco);
  font-weight: 700;
  padding: 0.7rem 1rem;
  border-radius: 5px;
  transition: var(--transition-effect1) var(--transition-duration2);
}

.modal-fechar-recebimentos:focus,
.modal-fechar-pagamentos:focus,
.modal-fechar-transferencias:focus,
.modal-salvar:focus {
  outline: none;
}

.modal-fechar-recebimentos:hover,
.modal-fechar-pagamentos:hover,
.modal-fechar-transferencias:hover {
  background-color: var(--color8);
  box-shadow: var(--box-shadow2);
}

.modal-fechar-recebimentos,
.modal-fechar-pagamentos,
.modal-fechar-transferencias {
  background-color: var(--color6);
}

.modal-salvar {
  background-color: var(--color5);
}

.modal-salvar:hover {
  background-color: var(--color3);
  box-shadow: var(--box-shadow2);
}

/* Tag Container */
.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.tag {
  background-color: var(--color7);
  color: #000000;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.tag input {
  display: none;
  border: none;
  background: var(--color7);
  color: var(--color4);
  font-weight: 700;
  width: auto;
}

.tag input:focus {
  display: none;
  border: none;
  background: var(--color2);
  color: var(--color4);
  font-weight: 700;
  width: auto;
}

input#tagInput {
  padding: 8px;
  font-size: 16px;
}